.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #120C3E;
    height: 8vh;
    color: #ffffff;
}
.header-logo {
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-logo span:first-child {
    font-size: 24px;
    margin-top:4px ;
}
.header-right {
    display: flex;
    align-items: center;
    margin-right: 10%;
}
.name {
    border-left: 2px solid #ffffff;
    padding-right: 0;
}
.header-right li {
    list-style-type: none;
    margin-right: 10px;
    padding: 5px;
}

.image-icon {
    height: 40px;
    width: 40px;
}

.image-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.header-dashboard {
    display: flex;
    align-items: flex-end;
    height: 8vh;
    margin: 0;
    margin-left: 10vw;
}

.header-dashboard  li {
    list-style-type:none ;
    margin-right: 30px;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 12px;
}
.header-dashboard  li:first-child{
    color: #6554C0;
     border-bottom: 3px solid #6554C0;
}
.header-dashboard  li:hover {
    color: #6554C0;
    border-bottom: 3px solid #6554C0;
    cursor: pointer;
}
